{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<div class="row">
    {% for category in categories %}
    <div class="col-lg-4">
        <img class="thumbnail" src="{{category.imageURL}}">
        <div class="box-element product">
            <h6><strong>{{category.title}}</strong></h6>
            <hr>
            <p class="overflow-ellipsis">{{category.description}}</p>
            <div class="btn-group">
                {% if not category.children.all %}
                <a class="btn btn-outline-success" href="{% url 'category_detail' category.slug %}">View</a>
                {% else %}
                <button type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sub-Categories</button>
                <div class="dropdown-menu">
                    {% for subcategory in category.children.all %}
                    <a class="dropdown-item" href="{% url 'category_detail' subcategory.slug %}">{{subcategory.title}}</a>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}